<div class="container">

	<div class="row justify-content-center">
		<h1> {{votacion.titulo}} </h1>
  </div>
  <div class="row justify-content-center">
    <h4>DESCRIPCIÓN</h4>
    <p>{{votacion.descripcion}}</p>
  </div>
  <div class="row justify-content-center">
    <h4>OPCIONES</h4>
  </div>
	<div class="row justify-content-center">
		<p>¡Rankea a los candidatos o propuestas de la votación, siendo el numero 1 con el que estas mas deacuerdo!</p>
	</div>
	<div class="row">
		<div class="col">
			<div class="row justify-content-center">
				<p class = "columna aceptado">ACEPTADO </p>
			</div>
			<div  class="list-group"  cdkDropList  (cdkDropListDropped)="onDropped($event)" [cdkDropListData]="candidatos" [cdkDropListConnectedTo]="segundaLista" #primeraLista="cdkDropList"  >
				<div class="list-group-item" *ngFor="let candidato of candidatos; let i= index" cdkDrag>
          <div class="row justify-content-center nombre-votacion"  >
            {{candidato.nombre}}
          </div>
          <div class="row justify-content-center"  >
            {{candidato.descripcion}}
          </div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="row justify-content-center">
				<p class = "columna rechazado">RECHAZADO </p>
			</div>
			<div class="list-group"   cdkDropList  (cdkDropListDropped)="onDropped($event)" [cdkDropListData]= "otraLista"  [cdkDropListConnectedTo]="primeraLista" #segundaLista="cdkDropList" >
				<div class="list-group-item" *ngFor="let candidato2 of otraLista; let i= index" cdkDrag>
					<div class="row justify-content-center nombre-votacion"  >
            {{candidato2.nombre}}
          </div>
          <div class="row justify-content-center"  >
            {{candidato2.descripcion}}
          </div>
				</div>
			</div>
		</div>
  </div>

	<div class="row justify-content-center">
		<button class="btn btn-primary" (click)="votar()"> Votar </button>
	</div>
</div>
