<div class="row h-100 pt-5 pt-md-0">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8 my-auto text-center content">
    <mat-spinner *ngIf="!activo" class="mx-auto my-2 mt-5 pt-md-0" diameter="65"></mat-spinner>
    <div *ngIf="activo" class="mt-5 pt-md-0">
      <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <h1>Estatus del validador</h1>
    <h1 id="estatus">{{ estatus }}</h1>
    <div class="card mx-auto" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Validador</h5>
        <p class="card-text">Permanezca en esta pantalla mientras quiera ser validador, aún si está activo o inactivo.</p>
        <h6 class="card-subtitle mb-2 text-muted">Validador Inactivo</h6>
        <p class="card-text">Espere mientras actualiza su blockchain y gana un torneo.</p>
        <h6 class="card-subtitle mb-2 text-muted">Validador Activo</h6>
        <p class="card-text">Participe en el algoritmo de consenso que agrega nuevos bloques a la blockchain.</p>
      </div>
    </div>
    <button class="btn btn-danger m-3" (click)="dejarSerValidador()">Dejar de ser validador</button>
  </div>
  <div class="col-sm-2">
  </div>
</div>
