<div class="container">
  <h1 class="text-center">Mis invitaciones</h1>
  <div class="row">
    <div class="col">
      <h2 class="text-left">Propias</h2>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-primary" (click)="crearVotacion()">
        Nueva votación
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th (click)="ordenarPorTitulo(misVotaciones)">
            Tìtulo &#8964;
          </th>
          <th>Grupo</th>
          <th (click)="ordenarPorParticipantes(misVotaciones)">
            No. Participantes &#8964;
          </th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          #row
          *ngFor="let votacion of misVotaciones"
        >
          <td (click)="verVotacion(votacion.id)">{{ row.rowIndex }}</td>
          <td (click)="verVotacion(votacion.id)">{{ votacion.titulo }}</td>
          <td (click)="verVotacion(votacion.id)">XD</td>
          <td *ngIf="votacion.participantes != undefined" (click)="verVotacion(votacion.id)">
            {{ votacion.participantes.length }}
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="eliminar(votacion, misVotaciones)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="text-left">Participante</h2>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-primary" (click)="verInvitaciones()">
        Ver invitaciones
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th (click)="ordenarPorTitulo(votaciones)">
            Tìtulo &#8964;
          </th>
          <th>Grupo</th>
          <th (click)="ordenarPorParticipantes(votaciones)">
            No. Participantes &#8964;
          </th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          #row
          *ngFor="let votacion of votaciones"
        >
          <ng-container
            *ngIf="votacion.autor.localeCompare(usuario.nombre) !== 0"
          >
            <td (click)="verVotacion(votacion.id)">{{ row.rowIndex }}</td>
            <td (click)="verVotacion(votacion.id)">{{ votacion.titulo }}</td>
            <td (click)="verVotacion(votacion.id)">XD</td>
            <td *ngIf="votacion.participantes != undefined" (click)="verVotacion(votacion.id)">
              {{ votacion.participantes.length }}
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="eliminar(votacion, votaciones)"
              >
                Eliminar
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
