<div class="container">
  <h1 class="text-center">Información personal</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <form *ngIf="formulario !== undefined" [formGroup]="formulario">
        <div class="form-group">
          <label for="txtNombre">Nombre: </label>
          <input type="text" class="form-control" id="txtNombre" name="nombre" formControlName="nombre"
            [ngClass]="{'is-invalid': formulario.get('nombre').touched && formulario.get('nombre').invalid}"
            data-toggle="popover" data-placement="right" data-trigger="manual"
            (change)="mostrarPopover('#txtNombre', 'nombre')" />
        </div>

        <div class="form-group">
          <label for="txtCorreo">Correo: </label>
          <input type="text" class="form-control" id="txtCorreo" name="correo" formControlName="correo"
            [ngClass]="{'is-invalid': formulario.get('correo').touched && formulario.get('correo').invalid}"
            (change)="mostrarPopover('#txtCorreo', 'correo')" />
        </div>

        <div class="form-group d-flex justify-content-center">
          <button class="btn btn-primary m-2" [disabled]="!formulario.valid"
            (click)="actualizar(nombre.value, correo.value)">
            Actualizar información
          </button>
          <button class="btn btn-secondary m-2" (click)="cancelar(formulario)">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Actualización de información personal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ msgActualizacion }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
