<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Seleccione un tipo de votacion</h1>
    </div>
</div>



<div class="container">
    <div class="row card-deck">
        <div class="col-sm-4">
            <div class="selected selected card bg-light" (click)="popular(content)">
                <div class="card-header">{{opciones[0].nombre}}</div>
                <div class="card-body">
                    <p class="card-text">{{opciones[0].descripcion}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="selected selected card bg-light" (click)="navigateRanking()">
                <div class="card-header">{{opciones[1].nombre}}</div>
                <div class="card-body">
                    <p class="card-text">{{opciones[1].descripcion}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="selected selected card bg-light" (click)="navigateClasificacion()">
                <div class="card-header">{{opciones[2].nombre}}</div>
                <div class="card-body">
                    <p class="card-text">{{opciones[2].descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Votacion popular {{cantiVotos}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Seleccione cantidad de votos por persona</label>
                <input [(ngModel)]="cantiVotos" text="1" class="form-control" placeholder="cantidad de votos" name="dp">     
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-outline-dark" (click)="navigatePopular(); modal.close('Save click')">Siguiente</button>
    </div>
</ng-template>
