<div class="row justify-content-sm-center">
	
	<div class="col-sm-4">
		<div class="container">
		
		
			<h1>Inicio de Sesión</h1>
		
			<p>¡Bienvenido a Pocket Ballot Chain!</p>
		
			<br />
			<p>El sistema de votación basado en Blockchain adaptado a tus necesidades.</p>
		
			<form>
				<input type="text" placeholder="Nombre de usuario" size="20" maxlength="20" name="nombre" id="nombre"
					class="form-control">
				<br />
				<input type="password" placeholder="Contraseña" name="" class="form-control">
				<br />
				<input type="button" value="Iniciar sesión" class="btn btn-primary">
				<br />
			</form>
			<a href="Registrar">Registrarse </a>
			<br />
			<a href="Credencial">Votar con credenciales </a>
		</div>
	</div>
	
</div>
