<div class="row justify-content-sm-center">
	
	<div class="col-sm-4">
		<div class="container">

			<div class="row justify-content-sm-center">
				<h1>Inicio de Sesión</h1>
				<p>¡Bienvenido a Pocket Ballot Chain!</p>
			
			
			</div>
			<p>El sistema de votación basado en Blockchain adaptado a tus necesidades.</p>

			<form>
				<input type="text" [(ngModel)]="correo"  size="20" maxlength="20" name="nombre" id="nombre" [ngModelOptions]="{standalone: true}"
				class="form-control" placeholder="Nombre de usuario">
				<input type="password" [(ngModel)]="contrasena" placeholder="Contraseña" name="" class="form-control"placeholder="Contraseña" [ngModelOptions]="{standalone: true}">
				<input type="button" (click)="iniciarSesion()" value="Iniciar sesión" class="btn btn-primary" >
			</form>
			<a href="Registrar">Registrarse </a>
			<a href="Credencial">Votar con credenciales </a>
		</div>
	</div>
</div>
