<div class="container">
  <div class="row justify-content-center">
    <h1>{{this.votacion.titulo}}</h1>
  </div>
  <div class="row justify-content-center">
    <h4>DESCRIPCIÓN</h4>
  </div>
  <div class="row justify-content-center">
    <p>{{votacion.descripcion}}</p>
  </div>
  <div class="row justify-content-center">
    <h4>OPCIONES</h4>
  </div>
  <div class="row justify-content-center">
    <p>¡Rankea a los candidatos o propuestas de la votación, siendo el numero 1 con el que estas mas deacuerdo!</p>
  </div>
  <div class="list-group" cdkDropList (cdkDropListDropped)="onDropped($event)">
    <div class="candidatos">
      <div class = "lista" *ngFor="let opcion of opciones; let i= index" >

        <div class="row justify-content-center nombre-votacion" >
          <div class = "col-sm-auto my-auto numero">
            #{{i+1}}
          </div>
          <div class="list-group-item"  class = "col border-left elemento" cdkDrag>
            <div class = "text-center">
              {{opcion.nombre}}
            </div>
            <div class = "descripcion">
              {{opcion.descripcion}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button class="btn btn-primary" (click)="votar()">Votar</button>
  </div>
</div>

