
<div class="container">
	<div class="row">
		<h1 [innerHtml]="tituloVotacion"> </h1>
	</div>
	<div class="row">
		<p>Rankea a los candidatos o propuestas de la votación, siendo el numero 1 con el que estas mas deacuerdo.</p>
	</div>
	<ul class="list-group" cdkDropList (cdkDropListDropped)="onDropped($event)">
		<div class="candidatos">
			<ul class="list-group-item" *ngFor="let opcion of opciones; let i= index" cdkDrag>
				<div class="row">
					{{i+1}}. {{opcion.nombre}}
				</div>
			</ul>
		</div>
	</ul>
	<div class="row justify-content-center">
		<button (click)="votar()">Votar</button>
	</div>
</div>