<!-- Home -->
<div class="row h-100">
  <div class="col">
  </div>
  <div class="col-sm-8 my-auto text-center content">
    <img src="../../../../assets/PBC_LOGO.png" class="home-logo" alt="Logo de home">
    <h1 class="text-dark">Bienvenido {{ usuario.nombre }}</h1>
    <p>Pocket Ballot Chain es un sistema de votación electrónico dirigido a empresas, instituciones educativas, asambleas,
      conjuntos residenciales y en general comunidades que quieran hacer uso del voto electrónico. Este ofrece las ventajas que trae
      la tecnología blockchain como la confianza, seguridad, bajo costo y descentralización de la información.</p>
    <button class="btn btn-primary text-center" (click)="serValidador()">Ser validador</button>
  </div>
  <div class="col">
  </div>
</div>
