<div class="container">
	<div class="row justify-content-center">
		<h1>Credenciales de votación</h1>
	</div>
	<div class="row justify-content-center">
		<p>Para poder ejercer su voto, primero debe ingresar su clave de voto:</p>
	</div>
	<form >
		<div class="row justify-content-center">
			<input class="form-control col-sm-3" type="text" required="required" placeholder="Clave" name="" [(ngModel)]="clave" name="correo">
		</div>
		<div class="row justify-content-center">
			<div class="one" [innerHtml]="htmlToAdd"></div>
		</div>
		<br/>
		<div class="row justify-content-center">
			<input class="btn btn-primary" type="submit" (click)="ingresarClave()" value="Confirmar clave">
		</div>
		<br/>
	</form>
	<div class="row justify-content-center">
		<a href="toInicio()">Volver a inicio de sesión </a>
	</div>
</div>