
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <div class="container">
      <a href="" class="navbar-brand">Pocket Ballot Chain</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar" *ngIf="this.usuarioService.isUserValid()">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a (click)="toPerfil()" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a (click)="toVotacionLista()" class="nav-link">Mis votaciones</a></li>
          <li class="nav-item"><a (click)="toListarGrupos()" class="nav-link">Grupos</a></li>
          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Sesión</a>
            <div class="dropdown-menu">
              <a (click)="toPerfilEditar()" class="dropdown-item">Configuración</a>
              <a href="" class="dropdown-item" (click)="finalizarSesion()">Salir</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<router-outlet></router-outlet>
