<br>
<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-lg-6">
            <h3>{{grupo.nombre}}</h3>
            <label for="descripcion"><b>Descripción:</b></label>
            {{grupo.descripcion}}
            <br>
            <label for="creador"><b>Creador:</b></label>
            {{grupo.creador}}
            <br>
            <label for="creacion"><b>Fecha de creación:</b></label>
            {{grupo.creacion}}
            <br>
            <label for="miembros"><b>Miembros:</b></label>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of grupo.miembros;">
                            <td>{{m.nombre}}</td>
                            <td>{{m.correo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div [ngSwitch]="origen">
                <div *ngSwitchCase="'propios'">
                    <label for="miembros"><b>Pendientes:</b></label>
                    <div *ngIf="grupo.pendientes.length; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of grupo.pendientes;">
                                        <td>{{p.nombre}}</td>
                                        <td>{{p.correo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                    <ng-template #elseBlock>
                        No hay solicitudes pendientes
                        <br>
                    </ng-template>

                    <a (click)="editar()" target="_blank" class="btn btn-primary mr-1">
                        Editar
                    </a>
                    <a (click)="confirmacion(confirmationModel, 1)" class="btn btn-danger">
                        Eliminar
                    </a>
                </div>
                <div *ngSwitchCase="'pertenecientes'">
                    <button (click)=confirmacion(confirmationModel,2) class="btn btn-success">Abandonar</button>
                </div>
                <div *ngSwitchCase="'invitaciones'">
                    <button (click)=confirmacion(confirmationModel,3) class="btn btn-success mr-1">Rechazar invitación</button>
                    <button (click)=confirmacion(confirmationModel,4) class="btn btn-success">Aceptar invitación</button>
                </div>
                <div *ngSwitchCase="'otros'">
                </div>
                <div *ngSwitchDefault></div>
            </div>
        </div>
    </div>

</div>

<ng-template #confirmationModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>{{confirmationText}}</label>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-outline-dark"
            (click)="modal.close('Save click')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-outline-dark"
            (click)="action(); modal.close('Save click')">Aceptar</button>
    </div>
</ng-template>