<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>{{grupo.nombre}}</h3>
        </div>
        <div class="card-body">
            <label for="descripcion">Descripción:</label>
            {{grupo.descripcion}}
            <br>
            <label for="creador">Creador:</label>
            {{grupo.creador}}
            <br>
            <label for="creacion">Fecha de creación:</label>
            {{grupo.creacion}}
            <br>
            <label for="miembros">Miembros:</label>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of grupo.miembros;">
                        <td>{{m.nombre}}</td>
                        <td>{{m.correo}}</td>
                    </tr>
                </tbody>
            </table>
            <div [ngSwitch]="origen">
                <div *ngSwitchCase="'propios'">
                    <label for="miembros">Pendientes:</label>
                    <div *ngIf="grupo.pendientes.length; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of grupo.pendientes;">
                                    <td>{{p.nombre}}</td>
                                    <td>{{p.correo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                    <ng-template #elseBlock>
                        No hay solicitudes pendientes
                        <br>
                    </ng-template>

                    <a href="{{ruta + '/EditarGrupo/' + grupo.id}}" target="_blank" class="btn btn-primary mr-1">
                        Editar
                    </a>
                    <a (click)="eliminar()" class="btn btn-danger">
                        Eliminar
                    </a>
                </div>
                <div *ngSwitchCase="'pertenecientes'">
                    <button (click)=abandonar() class="btn btn-success">Abandonar</button>
                </div>
                <div *ngSwitchCase="'invitaciones'">
                    <button (click)=aceptarInvitacion() class="btn btn-success mr-1">Aceptar invitación</button>
                    <button (click)=rechazarInvitacion() class="btn btn-success">Rechazar invitación</button>
                </div>
                <div *ngSwitchCase="'otros'">
                </div>
                <div *ngSwitchDefault></div>
            </div>
        </div>
    </div>
</div>