
<div class="container">
    <div class="row">
        <div class="col-lg-6 container">
            <div class="justify-content-center"><h4 class="text-center">Candidatos/Opciones</h4></div>
            <div id="tabla-opciones"><table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Id</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let opcion of opciones; let i = index" [attr.data-index]="i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{opcion.nombre}}</td>
                        <td>{{opcion.id}}</td>
                        <td>{{opcion.descripcion}}</td>
                    </tr>
                </tbody>
            </table></div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="input-group">
                        <input id="date" [(ngModel)]="fechaLimite" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <button class="btn btn-primary justify-content-center" (click)="showModal(opcion)">Nuevo candidato</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-primary justify-content-center">Pre-visualizar votación</button>
                </div>
            </div>

        </div>

        <div class="col-lg-6 container">
            <div class="justify-content-center"><h4 class="text-center">Invitar votantes</h4></div>
            <form>
                <div class="form-group row">
                    <input placeholder="Credencial" type="text" class="form-control col-sm-4">
                    <button class="btn btn-primary col-sm-4">Invitar por Credencial</button>
                    <button class="btn btn-primary col-sm-4">Importar datos</button>
                </div>
                <div class="form-group row">
                    <input placeholder="Agregar persona o grupo" type="text" class="form-control col-sm-8">
                    <button class="btn btn-primary col-sm-4">Agregar</button>
                </div>
            </form>

            <div>
                <ul class="list-group" id="lista-participantes">
                    <li class="list-group-item">Cras justo odio</li>
                </ul>
            </div>

            <div class = row>
                <input placeholder="cantidad de credenciales" type="text" class="form-control col-sm-8">
                <button type="submit" class="btn btn-success col-sm-4" (click)="crearVotacion()">Crear votacion</button>
            </div>

        </div>
    </div>
</div>



<ng-template #opcion let-modalOpcion>
    <div class="modal-header">
        <h4 class="modal-title">Crear nuevo candidato</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalOpcion.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
              <label>Nombre del candidato</label>
              <input class="form-control" name="nombre" [(ngModel)] = "nombre">
            </div>
            <div class="form-group">
              <label>Identificacion del candidato</label>
              <input class="form-control" name="identificacion" [(ngModel)] = "identificacion">
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input class="form-control" name="descripcion" [(ngModel)] = "descripcion">
            </div>
          </form>
    </div>
    <div class="modal-footer">
        <button ngbAutofocus class="btn btn-success" (click)="crearOpcion(); modalOpcion.close('Save click')">Crear opción</button>
    </div>
</ng-template>