
<div class="container">
    <div class="row">
        <div class="col-lg-6 container">
            <div class="justify-content-center"><h4 class="text-center">Candidatos/Opciones</h4></div>

            <div class="form-group">
                <div class="input-group">
                    <input id="titulo" class="form-control" [(ngModel)]="tituloVotacion" (ngModelChange)="errorTitulo()" placeholder="Titulo de la votación">  
                </div>
            </div>

            <div class="scrollbar scrollbar-primary my-custom-scrollbar"><div class="force-overflow"><table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let opcion of opciones; let i = index" [attr.data-index]="i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{opcion.nombre}}</td>
                        <td>{{opcion.descripcion}}</td>
                        <td class="opcion-tabla"><button class="btn btn-danger" (click)="eliminarOpcion(i)"><i class='far fa-trash-alt'></i></button></td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-primary justify-content-center" (click)="showModal(opcion)">Nuevo candidato</button>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="form-group">
                        <label for="dateIni">Fecha inicio</label>
                        <div class="input-group">
                            <input id="dateIni" [(ngModel)]="fechaInicio" (ngModelChange)="fechaInicioError()" class="form-control" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker #dp2="ngbDatepicker" 
                            data-toggle="popover" data-placement="top">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar btn-primary" (click)="dp2.toggle()" type="button"><i class='far fa-calendar-times'></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <div class="form-group">
                        <label for="date">Fecha limite</label>
                        <div class="input-group">
                            <input id="date" [(ngModel)]="fechaLimite" (ngModelChange)="fechaError()" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" 
                            data-toggle="popover" data-placement="top">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar btn-primary" (click)="dp.toggle()" type="button"><i class='far fa-calendar-times'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-primary justify-content-center">Pre-visualizar votación</button>
                </div>
            </div-->

        </div>

        <div class="col-lg-6 container">
            <div class="justify-content-center"><h4 class="text-center">Invitar votantes</h4></div>
            <form>
                <!--div class="form-group row">
                    <input placeholder="Credencial" type="text" class="form-control col-sm-4">
                    <button class="btn btn-primary col-sm-4">Invitar por Credencial</button>
                    <button class="btn btn-primary col-sm-4">Importar datos</button>
                </div-->
                

                <div class="form-group row">
                    <!--mat-form-field class="col-sm-8"-->
                        <input type="text" class="form-control col-sm-8"
                               placeholder="Agregar persona o grupo"
                               matInput 
                               [formControl]="myControl"
                               [(ngModel)]="participanteParaAgregar"
                               id="inputPersona"
                               [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      <!--/mat-form-field-->
                    <!--input placeholder="Agregar persona o grupo" type="text" class="form-control col-sm-8" id="inputPersona" [(ngModel)]="participanteParaAgregar" [ngModelOptions]="{standalone: true}"-->
                    <button (click)="agregarParticipante()" class="btn btn-primary col-sm-4">Agregar</button>
                </div>
            </form>

            <div>
                <div class="scrollbar scrollbar-primary my-custom-scrollbar"><div class="force-overflow"><table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th class="opcion-tabla" scope="col">Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let participante of participantes; let i = index">
                            <td>{{participante}}</td>
                            <td><button class="btn btn-danger" (click)="eliminarParticipante(i)"><i class='far fa-trash-alt'></i></button></td>
                        </tr>
                    </tbody>
                </table></div></div>
            </div>

            <div class = row>
                <input id="credencial" [(ngModel)]="cantidadCredenciales" (ngModelChange)="credencialesError()" placeholder="cantidad de credenciales" type="text" class="form-control col-sm-8"
                data-toggle="popover">
                <button id="formularioEnviar" type="submit" class="btn btn-success col-sm-4" (click)="crearVotacion()" disabled>Crear votación</button>
            </div>

        </div>
    </div>
</div>



<!-- Modal -->

<ng-template #opcion let-modalOpcion>
    <div class="modal-header">
        <h4 class="modal-title">Crear nuevo candidato</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalOpcion.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
              <label>Nombre del candidato</label>
              <input class="form-control" name="nombre" [(ngModel)] = "nombre">
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input class="form-control" name="descripcion" [(ngModel)] = "descripcion">
            </div>
          </form>
    </div>
    <div class="modal-footer">
        <input [(ngModel)]="formularioValidado" (ngModelChange)="validarFormulario()">
        <button ngbAutofocus class="btn btn-success" (click)="crearOpcion(); modalOpcion.close('Save click')">Crear opción</button>
    </div>
</ng-template>

