<div class="container pt-5 pt-md-0">
  <h4 class="text-center mt-5 pt-md-0">Reporte</h4>
  <h1 class="display-4 text-center">{{ votacion.titulo }}</h1>
  <div class="row my-3">
    <div class="col"></div>
    <div class="col-sm-10 col-lg-8">
      <h2 class="text-center">Acerca de la votación</h2>
      <table class="table table-light">
        <tbody>
          <tr>
            <td>Autor:</td>
            <td>{{ votacion.autor }}</td>
          </tr>
          <tr>
            <td>Tipo de votación:</td>
            <td>{{ tipoVotacion.nombre.toString() }}</td>
          </tr>
          <tr>
            <td>Inicio de la votación:</td>
            <td>{{ fechaInicio }}</td>
          </tr>
          <tr>
            <td>Fin de la votación:</td>
            <td>{{ fechaLimite }}</td>
          </tr>
          <tr *ngIf="votacion.participantes != undefined">
            <td>Número de votantes:</td>
            <td>{{ votacion.participantes.length }}</td>
          </tr>
          <tr *ngIf="votacion.opcionDeVotacion != undefined">
            <td>Número de candidatos:</td>
            <td>{{ votacion.opcionDeVotacion.length }}</td>
          </tr>
          <tr>
            <td>Número de votos por votante:</td>
            <td>{{ votacion.votos }}</td>
          <tr *ngIf="maxVotos !== -1">
            <td>Total votos emitidos:</td>
            <td>{{ maxVotos }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-sm-5 col-lg-4">
      <h3 class="text-center">Resultados</h3>
      <table>
        <tbody>
          <tr #row *ngFor="let nombre of resultadosNombres">
            <td>
              {{ nombre }}: {{ resultados.get(nombre) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-5 col-lg-4">
      <canvas #canvas></canvas>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-10 col-lg-8">
      <h2 class="text-center">Votantes</h2>
      <div id="custom-scroll">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>No.</th>
                <th>
                  Nombre
                </th>
              </tr>
            </thead>
            <tbody>
              <tr #row *ngFor="let participante of votacion.participantes">
                <td>{{ votacion.participantes.indexOf(participante) + 1 }}</td>
                <td>{{ participante.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
