<h1>Reporte de votación</h1>
<div>
  <p>Tipo de votación: {{votacion.tipoDeVotacion}}</p>
  <p>Número de votantes: {{votacion.participantes.length}}</p>
  <p>Grupos: </p>
  <p>Número de candidatos: {{votacion.opcionDeVotacion.length}}</p>
  <p>Total de votos: {{votacion.almacena.length}}</p>
</div>
<div>
  <h3>Resultados</h3>
  <table>
  <tbody>
    <tr #row *ngFor="let total of votos">
      <td>{{votacion.opcionDeVotacion[row.rowIndex].nombre}}: {{total}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <canvas #canvas></canvas>
</div>
