/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
html{
  margin-top:40px !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea{
  border-color: #2C3E50 !important;
  background-color: #c5e5de !important;
}

select{
    border-color: #2C3E50 !important;
    background-color: #c5e5de !important;
}

.back{
    border-color: #2C3E50 !important;
    background-color: #c5e5de !important;
}

.container{
    margin: 25px;
}

@media (min-width: 768px) {
  .navbar {
      max-height: 70px;
  }
}

body{
  background-color: whitesmoke !important;
}

.btn-primary{
  background-color: #2C3E50 !important;
  color: white !important;
}

.btn-success{
  background-color: darkblue !important;
  color: white !important;
}

input{
  border-color: #2C3E50 !important;
  background-color: #c5e5de !important;
}

table{
  border-color: #2C3E50 !important;
}

.is-invalid{
  border-color: red !important;
}

table th{
  background-color: #2C3E50;
  color: white !important;
}


.my-custom-scrollbar{
  position: relative;
  height: 300px;
  -webkit-overflow-scrolling: touch;
  background-color: #c5e5de;
  display: block;
}

table{
  scrollbar-color: red !important;
}


.scrollbar {
  position: relative;
  height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-bottom: 25px;
  }
  .force-overflow {
  min-height:
    300px;
  }

  .scrollbar-primary::-webkit-scrollbar {
  width: 15px;
  background-color: #c5e5de; }

  .scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #969FA8; }

  .scrollbar-primary {
  scrollbar-color: #969FA8 #c5e5de;
  }

  .scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c5e5de;
  border-radius: 10px; }

  .scrollbar-danger::-webkit-scrollbar {
  width: 15px;
  background-color: #c5e5de; }

  .scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

  .scrollbar-danger {
  scrollbar-color: #ff3547 #c5e5de;
  }

  .scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c5e5de;
  border-radius: 10px; }

  .scrollbar-warning::-webkit-scrollbar {
  width: 15px;
  background-color: #c5e5de; }

  .scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

  .scrollbar-warning {
  scrollbar-color: #FF8800 #c5e5de;
  }

  .scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c5e5de;
  border-radius: 10px; }

  .scrollbar-success::-webkit-scrollbar {
  width: 15px;
  background-color: #c5e5de; }

  .scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

  .scrollbar-success {
  scrollbar-color: #00C851 #c5e5de;
  }

  .scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c5e5de;
  border-radius: 10px; }

  .scrollbar-info::-webkit-scrollbar {
  width: 15px;
  background-color: #c5e5de; }

  .scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

  .scrollbar-info {
  scrollbar-color: #33b5e5 #c5e5de;
  }

  .scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c5e5de;
  border-radius: 10px; }

  .scrollbar-default::-webkit-scrollbar {
  width: 15px;
  background-color: #c5e5de; }

  .scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

  .scrollbar-default {
  scrollbar-color: #2BBBAD #c5e5de;
  }

  .scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c5e5de;
  border-radius: 10px; }

  .scrollbar-secondary::-webkit-scrollbar {
  width: 15px;
  background-color: #c5e5de; }

  .scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }

  .scrollbar-secondary {
  scrollbar-color: #aa66cc #c5e5de;
  }
