<div class="container">
  <div class="row justify-content-center">
    <h1> {{votacion.titulo}} </h1>
  </div>
  <div class="row justify-content-center">
    <h4>DESCRIPCIÓN</h4>
    <p>{{votacion.descripcion}}</p>
  </div>

  <div class="row justify-content-center">
    <h4>OPCIONES</h4>
  </div>
  <div class="row justify-content-center">
    <p>¡Reparte los votos asignados a los candidatos que quieras!</p>
  </div>
  <ul class="list-group">
    <ul class="list-group-item" style="user-select: none; border-color: black;border-style: solid;"
      *ngFor="let opcion of opciones; let index= index" (click)="votar2(index)">
      <div class="row justify-content-center">
        {{opciones[index].nombre}}
      </div>
      <div class="row justify-content-center">
        {{opciones[index].descripcion}}
      </div>
      <div class="row justify-content-center">
        votos: {{votos[index]}}
      </div>
    </ul>
  </ul>
  <div class="row justify-content-center">
    <p>Cantidad de votos: {{cantVotos}} </p>
  </div>
  <div style="color: red;" class="row justify-content-center">
    <p>{{mensaje}}</p>
  </div>
  <div class="row justify-content-center" >
    <button class="btn btn-primary"  style="font-size: large; width: 160px; height: 70px; margin: 20px;" (click)="votar()">Votar</button>
  </div>
</div>

<style>
  .list-group-item {
    user-select: none;
    border-color: black;
    border-style: solid;
  }
</style>
