#cant-votos{
  margin-top: 20px;
  font-weight: bold;
}
.list-group-item {
  user-select: none;
  border-color: black;
  border-style: solid;

}
.votar{
  font-size: large;
  width: 180px;
  height: 70px;
}
.nombre-votacion{
  font-weight: bold;
}

.eliminar-votos{
  margin-bottom: 5px;
}
